<% content_for :head do %>
  <%= stylesheet_link_tag "diff.css" %>
<% end %>

<h1> Showing differences </h1>

<h4>
  Between revisions
  <%= link_to @rev_to.hid.to_s, [@page, @rev_to] %>
  and
  <%= link_to @rev_from.hid.to_s, [@page, @rev_from] %>
  of page <%= link_to @page.name, @page %>.
</h4>

<% if @rev_from.content == @rev_to.content -%>
  <p>
    They are the same in fact.
  </p>
<% end -%>

<div class="diff">
  <%= simple_format @content %>
</div>

<%= link_to "Back to all revisions", page_revisions_path(@page) %>
