<%= wikify @revision.content %>

<p>
  <% if @revision.user -%>
    <%=h @revision.user.nickname %>
  <% else -%>
    A user whose account has been deleted
  <% end -%>

  made it on <%= @revision.created_at %>
  <% unless @revision.first? -%>
    <% if @revision.minor? -%>
      and said that it's just a minor change
    <% elsif @revision.comment.blank? -%>
      leaving no comment behind
    <% else -%>
      saying ❝<%=h @revision.comment %>❞
    <% end -%>
  <% end -%>
</p>

<%= link_to 'Back', page_revisions_path(@page) %>
