<h1>Tabla</h1>

<% unless logged_in? -%>
  <% if User.count > 0 -%>
  <p>
    <%= link_to "Login", login_path %>
    or
    <%= link_to "Register", registration_path %>
  </p>
  <% else -%>
  <p>
    <%= link_to "Bootstrap!", login_path %>
  </p>
  <% end -%>
<% else -%>
  <%= link_to "Pages", pages_path %>
  <br />
  <%= link_to "Registration codes", registration_codes_path %>
  <br />
  <%= link_to "Logout", logout_path %>
<% end -%>
