<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <% fields_for @revision do |r| %>
    <p>
      <%= r.label :content %> <br />
      <%= r.text_area :content %>
    </p>

    <p>
      <%= r.label :comment %> <br />
      <%= r.text_field :comment %>
    </p>

    <p>
      <%= r.check_box :minor %>
      <%= r.label :minor %>
    </p>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
