<script type='text/javascript'>
  document.observe('dom:loaded', function() {
    $('sortDate').href = '#';
    $('sortName').href = '#';

    remote_get_link_to(<%= "'#{sorted_by_date_pages_url}'" %>, 'sortDate');
    remote_get_link_to(<%= "'#{sorted_by_name_pages_url}'" %>, 'sortName');
  });
</script>

<h1>Listing pages</h1>

<div id="pageList">
  <%= render :partial => 'date_separated' %>
</div>

<br />

<%= link_to 'New page', new_page_path %> |
Sort by
<%= link_to 'Date', sorted_by_date_pages_path, :id => 'sortDate', :class => 'remote' %> or
<%= link_to 'Name', sorted_by_name_pages_path, :id => 'sortName', :class => 'remote' %> |
<%= link_to 'Home', root_path %>
