<h1>New page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% fields_for @revision do |r| %>
    <p>
      <%= r.label :content %> <br />
      <%= r.text_area :content %>
    </p>
    <%= r.hidden_field :user_id %>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Markdown syntax', 'http://daringfireball.net/projects/markdown/syntax', :target => '_blank' %> |
<%= link_to 'Back', pages_path %>
