<h1> <%=h @page.name %> </h1>

<%= wikify @page.content %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to "#{suffixed_number(@page.revisions.size)} revision", page_revisions_path(@page) %> |
<%= link_to 'Delete', @page, :confirm => 'Are you sure? This will delete all revisions.', :method => :delete %> |
<%= link_to 'Page index', pages_path %>
