<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    
    <title> Tabla </title>

    <%= stylesheet_link_tag "default", :media => "all" %>
    <%= javascript_include_tag :all, :cache => true %>
    <%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

    <%= yield :head %>
  </head>

  <body>
    <div id="content">
      <% if flash[:notice] -%>
        <div id="flash">
          <%= flash[:notice] %>
        </div>
      <% end -%>
      <% if flash[:error] -%>
        <div id="error">
          <%= flash[:error] %>
        </div>
      <% end -%>

      <%= yield %>
    </div>
  </body>
</html>
